@model HbCrm.Core.Domain.Admin.SysRole
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Css -->
@section Css{
    <link href="~/css/admin.css?v=1.0.0" rel="stylesheet" />
    <link href="~/lib/jquery-select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/jquery-select2/theme/select2-bootstrap4.css" rel="stylesheet" />
}
<!-- Css -->
<!-- Scripts -->
@section Scripts{
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-formvalidation/js/formvalidation.js"></script>
    <script src="~/lib/jquery-select2/js/select2.min.js"></script>
    <script src="~/lib/jquery-select2/js/i18n/zh-CN.js"></script>
    <script type="text/javascript">
        var validator = $("#form-edit").formvalidation({
            rules: {
                RoleName: {
                    required: true
                },
                RoleStatus: {
                    required: true
                }
            },
            messages: {
                RoleName: "请输入角色名称",
                RoleStatus: "请输入角色状态"
            },
            submitHandler: function (form) {
                var requestData = $(form).serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Edit", "Role", new { area = "Admin" })",
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded",
                    data: requestData,
                    error: function (request, message, error) {
                        alert(request);
                    },
                    success: function (responseData) {
                        data = JSON.parse(responseData);
                        if (data.Status == 1) {
                            var backToList = $("#btn-save").data("backToList");
                            if (backToList) {
                                window.location.href = "@Url.Action("Index", "Role", new { area = "Admin" })";
                            } else {
                                alert("保存成功，请继续修改");
                            }
                        } else {
                            alert(data.Message)
                        }
                    }//success
                });//ajax
            }//submitHandler
        }); //validator
        $("#btn-save").click(function () {
            $(this).data("backToList",true);
            if (validator.form()) {
                $("#form-edit").submit();
            }
        });

        $("#btn-save-edit").click(function () {
            $("#btn-save").data("backToList", false);
            if (validator.form()) {
                $("#form-edit").submit();
            }
        });

        @{
            //获取关联的角色
            string strArry = string.Empty;
            strArry += "[";
            foreach (var admin in Model.Admins)
            {
                strArry += (admin.Id + ",");
            }
            if (Model.Admins.Count() > 0)
            {
                strArry = strArry.Substring(0, strArry.Length - 1);
            }

            strArry += "]";
            ViewBag.Roles = strArry;
        }
        var selectedData=@ViewBag.Roles;
       

        $(function () {
            //初始化
            $.ajax({ //失败会有提示，不用处理
                cache: true,
                url: "@Url.Action("GetAllAdmins", "Account", new { area = "Admin" })",
                dataType: 'json',
                success: function (data) {
                    var results = JSON.parse(data).Rows;
                    $("#AdminIds").select2({
                        placeholder: "请添加人员",//占位符
                        theme: 'bootstrap4',//主题
                        language: 'zh-CN',//语音
                        allowClear: true,//出现清空按钮
                        closeOnSelect: false,//选择后不关闭选项
                        multiple: true,      //多选择
                        data: results
                    });//select2;
                    //var selectedData = GetSelectedArray(strRoles);
                    $('#AdminIds').val(selectedData); //['1', '2']
                    $('#AdminIds').trigger('change'); // Notify any JS components that the value changed
                },//success
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("获取人员失败，请刷新页面");
                    console.log(errorThrown);
                }
            });//ajax
        });

    </script>
}
<!-- Scripts -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a id="btn-list" href="@Url.Action("Index","Role",new { area = "Admin" })" class="btn btn-info btn-primary">
                    <i class="fas fa-angle-left"></i>
                    返回角色列表
                </a>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Edit","Role",new { area="Admin"})">编辑角色</a></li>
                    <li class="breadcrumb-item active">账号权限</li>
                    <li class="breadcrumb-item active">设置</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-green">
                <div class="card-header link" data-card-widget="collapse">
                    <h3 class="card-title">编辑角色</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="折叠">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form id="form-edit">

                        <div class="form-row ">
                            <div class="form-group col-6">
                                <label for="RoleName" class=" col-form-label">角色名称</label>
                                <input type="text" class="form-control" id="RoleName" name="RoleName" placeholder="角色名称" value="@Model.RoleName">
                            </div>
                            <div class="form-group  col-6">
                                <label for="RoleStatus" class="col-form-label">角色状态</label>
                                <input type="text" class="form-control" id="RoleStatus" name="RoleStatus" placeholder="角色状态" value="@Model.RoleStatus">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="RoleRemark" class=" col-form-label">角色说明</label>
                            <textarea class="form-control" id="RoleRemark" name="RoleRemark" placeholder="角色说明">@Model.RoleRemark</textarea>
                        </div>

                        <div class="form-row ">
                            <div class="form-group col-12">
                                <label for="AdminIds" class=" col-form-label">人员</label>
                                <select class="form-control" id="AdminIds" name="AdminIds"></select>
                            </div>
                        </div>

                        <div class="row justify-content-center ">
                            <input type="button" id="btn-save" value="保存" class="btn btn-success mr-5 " style="width:8rem;">
                            <input type="button" id="btn-save-edit" value="保存/编辑" class="btn btn-success" style="width:8rem;">
                        </div>
                    </form>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->